@model IEnumerable<Category>
@{
    ViewBag.Title = "Categories management";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>
                @ViewBag.Title
            </h3>

            <a asp-controller="Category" asp-action="Create" class="btn btn-warning" style="width:auto">Create Category</a>
        </div>
        <div class="card-body">
            @*<div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="2">2</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                    </div>
                </div>
            </div>*@
            <div class="table-responsive">
                <table class="table table-bordered table-hover mt-2 mb-4" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Category Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var cat in Model)
                            {
                                <tr>
                                    <td>
                                        @cat.CategoryId
                                    </td>
                                    <td>
                                        @cat.CategoryName
                                    </td>
                                    <td>
                                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.CategoryId" class="text-warning"><i class="far fa-edit"></i></a>
                                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@cat.CategoryId" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                @*<a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
                <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div>
            </div>*@
            </div>
        </div>
    </div>
</div>