@model Selling_Phone.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
    var roles = ViewBag.Roles as IQueryable<IdentityRole>;
}
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Edit User</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <form asp-controller="User" asp-action="Edit" method="post" class="mt-3">
        @*<div asp-validation-summary="All"></div>*@
        <input hidden asp-for="UserId" />
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

        </div>

        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Gender"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Gender" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="City"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="DOB"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="DOB" type="date" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="RoleId"></label>
            </div>
            <div class="col-sm-10 ">
                <select asp-for="RoleId" class="custom-select">
                    <option value="">Select a Role</option>
                    @if (roles != null && roles.Any())
                    {
                        foreach (var role in roles)
                        {
                            if (User.IsInRole("System Admin"))
                            {
                                <option value="@role.Id" selected="@(role.Id==Model.RoleId)">@role.Name</option>
                            }
                            else
                            {
                                if (role.Name != "System Admin")
                                {
                                    <option value="@role.Id" selected="@(role.Id==Model.RoleId)">@role.Name</option>
                                }
                            }


                        }
                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-controller="User" asp-action="Index" class="btn btn-warning">Back</a>
            </div>

        </div>

    </form>
</div>

